body {
    min-height: 100%;
    margin: 0;
    font-size: 1rem;
    overflow-x: hidden;
}
.button {
    border: none;
    outline: none !important;
}
::-webkit-scrollbar {
    width: 0;
}
.navigation {
    position: fixed;
    width: 100%;
    background-color: #1D0772;
    top: 0;
    text-shadow: 1px 1px black;
    padding: 1rem;
    z-index: 100;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}
ul, menu, dir {
    -webkit-margin-before: 0;
    -webkit-margin-after: 0;
}
.imageContainer {
    display: flex;
    padding: 5px;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 100%;
    margin: 5px;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}
.fullImageDiv {
    display: flex;
    padding: 5px;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}
.floatingContactForm {
    position: fixed;
    right: 5px;
    bottom: 5px;
    padding: 1vmin;
    z-index: 99999;
}
.nabar:hover {
    background-color: transparent;
}

.navbar-toggle {
    background: white;
}

.headerPage {
    padding-top:0.2rem;
    padding-bottom:0.2rem;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
.schemaBlock{
    height: 400px !important;
}

.navigationButton {
    width: auto;
    height: auto;
    color: white;
}
button {
    background-color: transparent;
    border: none;
}
button:hover {
    cursor: pointer;
}
.navigationButton:hover {

}
.buttonWrapper {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}
.buttonWrapperMain {
    width: 100%;
    display: flex;
    position: relative;
    margin-top: 44px;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}
.toMainPartButton {
    width: auto;
    font-size: 3vmin;
    height: 44px;
    border: none;
    border-radius: 5px;
    padding: 5px;
}
a {
    display: inline-block;
    text-decoration: none;
}
ul {
    list-style: none;
}
.programsText {
    margin-bottom: 1rem;
    margin-top: 1.5rem;
    width: 100%;
    display: inline-block;
}
.programsText:first-child{
    margin-top: 0;
}
.centerBlockHigh {
    font-size: 2vmin;
    color: blue;
    width: auto;
}
#firstCentralBlock {
    font-size: 2.5rem;
}
#secondCentralBlock {
    font-size: 2.5rem;
    color: rgb(255, 153, 0);
}
#thirdCentralBlock {
    font-size: 1.8rem;
}
.headerBlocks {
    width: auto;
    height: auto;
    padding: 5px;
    margin: 5px;
}
#centralHeaderBlocks {
    height: 4vmin;
}
html, body {
    height: 100%;
    width: 100%;
}

/*
shadows
*/

.modalContainer, .modalContainerOverlap,
.communicationStep {
    box-shadow: 0 0 8px 1px rgba(0, 0, 0, 0.6);
}
.headerPage {
    width: 100%;
    top: 0;
    font-size: 1.4rem;
}
/*--
commynication block
---*/

.flexCenter {
    display: flex !important;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}

.communicationStepsContainer {
    width: 100%;
    height: 200px;
    top: 0;
    left: 0;
    perspective: 1000px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: stretch;
    align-content: stretch;
}
.communicationStep {
    position: relative;
    display: block;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background-color: rgba(60, 60, 100, 1);
}

/*---------
animation properties
---------*/

.box-with-text {
    background-image: -webkit-linear-gradient(180deg, rgba(0, 0, 0, 0.2) 10%, rgba(0, 0, 0, 0.5) 80%, rgba(0, 0, 0, 0.2) 10%, white 50%);
    background-repeat: repeat;
    background-position: 0 0;
    background-size: 120px 100%;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    font-size: 5vmin;
    -webkit-animation: stripes 1s linear infinite;
    animation: stripes 1s linear infinite;
}
@-webkit-keyframes stripes {
    100% {
        background-position: 120px 0;
    }
}
@keyframes stripes {
    100% {
        background-position: 120px 0;
    }
}
.box-with-text {
    white-space: nowrap;
}

.contentBlock {
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
    flex: 1;
    margin: 5vh 15px;
    min-height: 100%;
}
.contentBlock:first-of-type {
    margin: 10vh 15px 5vh 15px;
}
.collectionGrid {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
    height: 100%;
    width: 100%;
}
.column {
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.innerBlock {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
    min-height: 2rem;
}
.leftTitle {
    width: 50%;
}

.dialogCarouselContent {
    height: 100px;
}
.autoHeight {
    height: auto;
}
.gridItem {
    height: 100%;
    flex-direction: column;
    justify-content: center;
}

.carousel-indicators {
    left: 0;
    width: 100%;
    position: relative;
    margin: 0;
    bottom:0;
}
button, optgroup, select, textarea {
    font-size: 1rem !important;
}

.button-clear:hover {
    cursor: pointer !important;
}
.button-clear:active,  button:focus {
    outline: none !important;
}
.modal {
    visibility: hidden;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(150,150,150,0.7);
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
}

.modal-body {
    overflow-x: hidden;
    overflow-y: scroll;
    padding: 1rem;
}

.modal-content {
    background-color: white;
    display: flex;
    flex-direction: column;
    min-height: 50%;
    min-width: 50%;
    max-height: 80%;
    max-width: 80%;
    overflow: hidden;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

button.close {
    align-self: flex-end;
    padding: 1rem;
    position: absolute;
}

@media all and (orientation: portrait) {
    .meContent {
        max-width: none;
    }
    .meContainer {
        justify-content: flex-start;
    }
}
@media all and (orientation: portrait) {
    .meContainer {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        align-content: center;
    }
}
@media all and (orientation: landscape) {
    .meContent {
        max-width: 50%;
    }
    .meContainer {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        align-content: center;
    }
}
.meContent {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    padding-left: 1rem;
    padding-right: 1rem;
    font-size: 1rem;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 1);
}
.meContainer {
    display: flex;
    height: 100%;
    background-color: transparent;
}
.meTextMain {
    width: 100%;
    top: 0;
    color: rgb(100, 120, 195);
    font-size: 2.5em;
    margin-bottom: 1rem;
}
.meText {
    margin-top: 1rem;
    margin-bottom: 1rem;
    width: 100%;
    top: 0;
    color: black;
    font-size: 1.5em;
}
.modal-body {
    color: black;
}
.form-group {
    width: 100%;
}
.form-control {
    background-color: transparent;
    color: white;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 1);
}
.socialButton {
    border-radius: 50px;
    width: 50px;
    height: 50px;
    box-shadow: 0 0 8px 1px rgba(0, 0, 0, 0.6);
    padding: 0;
    background-color: white !important;
    transition: all .2s;
}
.socialButton:hover {
  box-shadow: 0 0 9px 2px rgba(0, 0, 0, 0.8);
}
.socialIcon {
    width:52px;
    height:52px;
    margin-left: -3px;
    margin-top: -3px;
    border: none;
    outline: none !important;
}
.flexbox{
  display: flex;
  flex-direction: row;
  justify-content:space-around;
}
