body {
    color: white;
    min-height: 100%;
    margin: 0;
    font-size: 1rem;
    text-align: center;
    font-family: 'Roboto', sans-serif;
}
.button-clear {
    border: none;
    background-color: transparent !important;
    color: white;
    outline: none !important;
}
::-webkit-scrollbar {
    width: 0;
}
.navbar {
    position: fixed;
    width: 100%;
    background-color: #005566;
    transition: 0.7s linear all;
    -webkit-transition: 0.7s linear all;
    text-shadow: 1px 1px white;
}
ul, menu, dir {
    -webkit-margin-before: 0em;
    -webkit-margin-after: 0em;
}
.imageContainer {
    display: flex;
    padding: 5px;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 100%;
    margin: 5px;
}
.fullImageDiv {
    display: flex;
    padding: 5px;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}
#gallaryId {
    width: 100%;
    height: auto;
}
.floatingContactForm {
    position: fixed;
    right: 5px;
    bottom: 5px;
    padding: 1vmin;
    z-index: 99999;
}
.displaingDivs {
    padding: 5px;
    height: auto;
}
.nabar:hover {
    background-color: transparent;
}
.modal-content {
    max-height: 60%;
}
.navbar-toggle {
    background: white;
    color: black;
}

    .headerPage{
      padding-top:0.2rem;
      padding-bottom:0.2rem;
      border-top-left-radius: 5px;
      border-top-right-radius: 5px;
    }
    .schemaBlock{
      height: 400px !important;
    }
    .videoContent{
      border-bottom-left-radius: 5px;
      border-bottom-right-radius: 5px;
  }
  @media all and (orientation: landscape) {
      .navbar {
          width: 8rem;
          height: 100%;
      }
      .landPageInner{
        margin-left: 8rem;
      }
      .nav {
          flex-direction: column;
          justify-content: space-around;
          align-content: space-around;
              flex-wrap: nowrap;
              height: 100%;
          border-right:    1px solid white;
      }
  }
  @media all and (orientation: portrait) {
      .nav {
        flex-direction: row;
        justify-content: center;
        align-content: center;
        flex-wrap: wrap;
        border-bottom:    1px solid white;
      }
  }
  @-webkit-keyframes pulse {
      0% {
          -webkit-transform: scale(1);
    }
    50% {
        -webkit-transform: scale(1.1);
    }
    100% {
        -webkit-transform: scale(1);
    }
}
@-moz-keyframes pulse {
    0% {
        -moz-transform: scale(1);
    }
    50% {
        -moz-transform: scale(1.1);
    }
    100% {
        -moz-transform: scale(1);
    }
}
@keyframes pulse {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1);
    }
}
.landPageBlock {
    width: 150px;
    height: auto;
    z-index: 1000;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 1);
}
.landPageBlock:hover {
    -webkit-animation: pulse 1s ease 0s infinite normal;
    -o-animation: pulse 1s ease 0s infinite normal;
    -moz-animation: pulse 1s ease 0s infinite normal;
    animation: pulse 1s ease 0s infinite normal;
}
.buttonWrapper {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}
.buttonWrapperMain {
    width: 100%;
    display: flex;
    position: relative;
    margin-top: 44px;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}
.toMainPartButton {
    width: auto;
    font-size: 3vmin;
    height: 44px;
    color: white;
    border: none;
    background-color: transparent !important;
    border-radius: 5px;
    text-shadow: none;
    padding: 5px;
    z-index: 10;
}
a {
    display: inline-block;
    text-decoration: none;
}
ul {
    list-style: none;
}
.programsText {
    margin-bottom: 1rem;
    margin-top: 1.5rem;
    width: 100%;
    display: inline-block;
    color: black;
    z-index: 9;
}
.programsText:first-child{
  margin-top: 0;
}
.headerFlex {
    height: auto;
    position: absolute;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    align-items: center;
}
.centerBlockHigh {
    font-size: 2vmin;
    color: blue;
    width: auto;
    z-index: 10;
}
#firstCentralBlock {
    font-size: 2.5rem;
}
#secondCentralBlock {
    font-size: 2.5rem;
    color: rgb(255, 153, 0);
    text-shadow: 1px 1px 2px black;
}
#thirdCentralBlock {
    font-size: 1.8rem;
}
.headerBlocks {
    width: auto;
    height: auto;
    z-index: 15;
    padding: 5px;
    margin: 5px;
}
.toRightArrow {
    width: 40px;
    height: 40px;
    background: url(../photos/Right-black-arrow.png) no-repeat center;
    background-size: cover;
}
.sideHeaderBlocks {
    z-index: 10;
}
#centralHeaderBlocks {
    height: 4vmin;
}
html, body {
    height: 100%;
    width: 100%;
}
#landingScreen {
    background: transparent;
    background-size: cover;
    height: 100%;
    margin: 0;
    width: 100%;
    position: relative;
    text-shadow: 1px 1px 2px black;
    /*color: rgb(0, 102, 153);*/
    display: flex;
    flex-direction: column;
    overflow: hidden;
    justify-content: center;
}
.landingScreenCenter {
    margin-top: 50px;
}
#landPageBody {
    width: 100%;
    overflow: hidden;
    -webkit-overflow-scrolling: touch;
    background-color: transparent;
 position: relative;
 height: 100%;
}
.landPageContainer{
   height: 100%;
   width: 100%;
   overflow-y: scroll;
 overflow-x: hidden;
}
.landPageInner{
  height: auto;
}

/*
shadows
*/

.modalContainer, .modalContainerOverlap,
.communicationStep, .displaingDivsResult {
    box-shadow: 0 0 8px 1px rgba(0, 0, 0, 0.6);
}
.headerPage, .textHigh, .toMainPartButton, .centerBlock, .headerBlocks {
    font-family: Lobster-Regular, 'Lobster-Regular', normal;
}
.centerBlock{
  z-index: 11;
}
.alert {
    margin-top: 5vh;
    margin-bottom: 5vh;
    border-radius: 0;
}
.alert-success{
  border-color: transparent;
  background-color: transparent;
  color: white;
}
.headerPage {
    width: 100%;
    top: 0;
    color: white;
    font-size: 1.4rem;
    text-shadow: 1px 1px 1px rgb(0, 0, 0);
}

.socialButtons {
    position: fixed;
    left: 1%;
    bottom: 1%;
    background-color: transparent;
    height: auto;
    width: auto;
    z-index: 99999;
}

.linkDescription {
    width: 100%;
    font-size: 0.6em;
    border-top: 1px solid #1199EE;
}
@font-face {
    font-family: Lobster-Regular;
    src: url(../fonts/lobster2.ttf);
}

/*--
commynication block
---*/

.flexCenter {
    display: flex !important;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}

.communicationStepsContainer {
    width: 100%;
    height: 200px;
    top: 0;
    left: 0;
    z-index: 9999;
    perspective: 1000px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: stretch;
    align-content: stretch;
}
.communicationStep {
    position: relative;
    display: block;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background-color: rgba(60, 60, 100, 1);
}
#sidePageCtrl {
    top: 1em;
}

/*---------
animation properties
---------*/

.box-with-text {
    background-image: -webkit-linear-gradient(180deg, rgba(0, 0, 0, 0.2) 10%, rgba(0, 0, 0, 0.5) 80%, rgba(0, 0, 0, 0.2) 10%, white 50%);
    background-repeat: repeat;
    background-position: 0 0;
    background-size: 120px 100%;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    font-size: 5vmin;
    -webkit-animation: stripes 1s linear infinite;
    animation: stripes 1s linear infinite;
}
@-webkit-keyframes stripes {
    100% {
        background-position: 120px0;
    }
}
@keyframes stripes {
    100% {
        background-position: 120px 0;
    }
}
.box-with-text {
    white-space: nowrap;
}
@import url(http://fonts.googleapis.com/css?family=Open+Sans:800);
.contentBlock {
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
    margin-top: 5vh;
    margin-bottom: 5vh;
    width: calc(100% - 30px);
    margin-left: 15px;
    margin-right: 15px;
    color: white;
    border-top: 1px solid white;
    text-shadow: none;
    z-index: 20;
}
.carousel, .carousel-inner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    height: 100%;
    width: 100%;
        text-shadow: 1px 1px 1px rgb(0, 0, 0);
}
.column {
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.nav, .navbar-nav .nav-item+.nav-item {
    display: flex;
    margin: 0;
}

.carousel-indicators li {
    border: none;
    width:0.6rem;
    height:0.6rem;
    transition: all 0.5s;
}
.carousel-indicators .active {
    border: blue !important;
    width:1rem;
    height:1rem;
}
.carusel-dots {
    background-color: white !important;
    border-radius: 10px !important;
    box-shadow: 0 0 0px 1px rgba(0, 0, 0, 0.6);
}
.carousel-indicators li {
  margin:1rem!important;
}
.carousel-indicators.active {
  margin:0.8rem!important;
}
.modal-title {
    color: black;
}
.innerBlock {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
    min-height: 2rem;
}
.leftTitle {
    width: 50%;
    text-shadow: 1px 1px 1px rgb(0, 0, 0);
}
.columnStreth {
    flex-direction: column;
    justify-content: space-between;
    align-items: stretch;
    align-content: stretch;
}
.dialogCarouselContent {
    height: 100px;
}
.autoHeight {
    height: auto;
}
.carousel-item {
    width: 100%;
    height: 100%;
    flex-direction: column;
    justify-content: center;
}
.carousel-item .displaingDivs active {
    display: flex !important;
}
.carousel-indicators {
    left: 0;
    width: 100%;
    position: relative;
    margin: 0;
    bottom:0;
}
button, optgroup, select, textarea {
    font-size: 1rem !important;
    text-shadow: 1px 1px 2px black;
}

/*---------------------------------------------------*/
.homepage-hero-module {
    border-right: none;
    border-left: none;
    position: absolute;
min-width: 100%;
top: 0;
z-index: -1;
min-height:100%;
}
.no-video .video-container video,
.touch .video-container video {
    display: none;
}
.no-video .video-container .poster,
.touch .video-container .poster {
    display: block !important;
}
.video-container {
    bottom: 0%;
    left: 0%;
    min-height: 100%;
    min-width: 100%;
    overflow: hidden;
    background: #000;
}
.video-container .poster img {
    width: 100%;
    bottom: 0;
    position: absolute;
}
.video-container .filter {
    z-index: 100;
    position: absolute;
    background: rgba(0, 0, 0, 0.4);
    width: 100%;
}
.video-container video {
    position: absolute;
    z-index: 10;
    bottom: 0;
        left: 0;
}
.video-container video.fillWidth {
    width: 100%;
}
.bg-primary{
  background-color: transparent !important;
}
.poster, .video-container .poster img{
  left: 0;
}

.button-clear:hover {
cursor: pointer !important;
}
.button-clear:active,  button:focus{
outline: none !important;
}
.textHigh{
  font-size: 1.1rem;
}
#mainNavbar{
  opacity: 0;
}
.modal-dialog input,.modal-dialog button{
  text-shadow: none;
}
